protorootfile ../ROOTfiles/hms50k/cafe_replay_hms50k_XXXXX_latest.root 
guicolor lightblue
canvassize 1600 800

newpage  4 2
title HMS Hodoscope ADC Occ/Mult
macro 'UTIL/GEN/overlay2.C("hhodo_1x_good_adc_occ_pos","hhodo_1x_good_adc_occ_neg","1x+","1x-","1x Good ADC Occupancy")'
macro 'UTIL/GEN/overlay2.C("hhodo_1y_good_adc_occ_pos","hhodo_1y_good_adc_occ_neg","1y+","1y-","1y Good ADC Occupancy")'
macro 'UTIL/GEN/overlay2.C("hhodo_2x_good_adc_occ_pos","hhodo_2x_good_adc_occ_neg","2x+","2x-","2x Good ADC Occupancy")'
macro 'UTIL/GEN/overlay2.C("hhodo_2y_good_adc_occ_pos","hhodo_2y_good_adc_occ_neg","2y+","2y+","2y Good ADC Occupancy")'
macro 'UTIL/GEN/overlay2.C("hhodo_1x_good_adc_mult_pos","hhodo_1x_good_adc_mult_neg","1x+","1x-","1x Good ADC Multiplicity")'
macro 'UTIL/GEN/overlay2.C("hhodo_1y_good_adc_mult_pos","hhodo_1y_good_adc_mult_neg","1y+","1y-","1y Good ADC Multiplicity")'
macro 'UTIL/GEN/overlay2.C("hhodo_2x_good_adc_mult_pos","hhodo_2x_good_adc_mult_neg","2x+","2x-","2x Good ADC Multiplicity")'
macro 'UTIL/GEN/overlay2.C("hhodo_2y_good_adc_mult_pos","hhodo_2y_good_adc_mult_neg","2y+","2y-","2y Good ADC Multiplicity")'

newpage 4 2
title HMS Hodoscope TDC Occ/Mult
macro 'UTIL/GEN/overlay2.C("hhodo_1x_good_tdc_occ_pos","hhodo_1x_good_tdc_occ_neg","1x+","1x-","1x Good TDC Occupancy")'
macro 'UTIL/GEN/overlay2.C("hhodo_1y_good_tdc_occ_pos","hhodo_1y_good_tdc_occ_neg","1y+","1y-","1y Good TDC Occupancy")'
macro 'UTIL/GEN/overlay2.C("hhodo_2x_good_tdc_occ_pos","hhodo_2x_good_tdc_occ_neg","2x+","2x-","2x Good TDC Occupancy")'
macro 'UTIL/GEN/overlay2.C("hhodo_2y_good_tdc_occ_pos","hhodo_2y_good_tdc_occ_neg","2y+","2y-","2y Good TDC Occupancy")'
macro 'UTIL/GEN/overlay2.C("hhodo_1x_good_tdc_mult_pos","hhodo_1x_good_tdc_mult_neg","1x+","1x-","1x Good TDC Multiplicity")'
macro 'UTIL/GEN/overlay2.C("hhodo_1y_good_tdc_mult_pos","hhodo_1y_good_tdc_mult_neg","1y+","1y-","1y Good TDC Multiplicity")'
macro 'UTIL/GEN/overlay2.C("hhodo_2x_good_tdc_mult_pos","hhodo_2x_good_tdc_mult_neg","2x+","2x-","2x Good TDC Multiplicity")'
macro 'UTIL/GEN/overlay2.C("hhodo_2y_good_tdc_mult_pos","hhodo_2y_good_tdc_mult_neg","2y+","2y-","2y Good TDC Multiplicity")'

newpage  4 2 logz
title HMS Hodoscope Pedestals
hhodo_1x_good_pped_vs_pmt_pos -nostat
hhodo_1y_good_pped_vs_pmt_pos -nostat
hhodo_2x_good_pped_vs_pmt_pos -nostat
hhodo_2y_good_pped_vs_pmt_pos -nostat
hhodo_1x_good_pped_vs_pmt_neg -nostat
hhodo_1y_good_pped_vs_pmt_neg -nostat
hhodo_2x_good_pped_vs_pmt_neg -nostat
hhodo_2y_good_pped_vs_pmt_neg -nostat

newpage 4 2 
title HMS Hodoscope Pedestal Monitoring
macro 'UTIL/GEN/ped_tracking_improved.C("../ROOTfiles/hms50k/hms_coin_replay_production_golden.root","hodo_1x","h",1)' -nostat
macro 'UTIL/GEN/ped_tracking_improved.C("../ROOTfiles/hms50k/hms_coin_replay_production_golden.root","hodo_1y","h",1)' -nostat
macro 'UTIL/GEN/ped_tracking_improved.C("../ROOTfiles/hms50k/hms_coin_replay_production_golden.root","hodo_2x","h",1)' -nostat
macro 'UTIL/GEN/ped_tracking_improved.C("../ROOTfiles/hms50k/hms_coin_replay_production_golden.root","hodo_2y","h",1)' -nostat
macro 'UTIL/GEN/ped_tracking_improved.C("../ROOTfiles/hms50k/hms_coin_replay_production_golden.root","hodo_1x","h",2)' -nostat
macro 'UTIL/GEN/ped_tracking_improved.C("../ROOTfiles/hms50k/hms_coin_replay_production_golden.root","hodo_1y","h",2)' -nostat
macro 'UTIL/GEN/ped_tracking_improved.C("../ROOTfiles/hms50k/hms_coin_replay_production_golden.root","hodo_2x","h",2)' -nostat
macro 'UTIL/GEN/ped_tracking_improved.C("../ROOTfiles/hms50k/hms_coin_replay_production_golden.root","hodo_2y","h",2)' -nostat



newpage 2 3
title HMS Drift Chamber Wire Maps (All Hits)
macro UTIL/GEN/overlay2.C("hdc1u1_rawwirenum","hdc2v1_rawwirenum","1U1","2V1")
macro UTIL/GEN/overlay2.C("hdc1u2_rawwirenum","hdc2v2_rawwirenum","1U2","2V2")
macro UTIL/GEN/overlay2.C("hdc1x1_rawwirenum","hdc2x1_rawwirenum","1X1","2X1")
macro UTIL/GEN/overlay2.C("hdc1x2_rawwirenum","hdc2x2_rawwirenum","1X2","2X2")
macro UTIL/GEN/overlay2.C("hdc1v1_rawwirenum","hdc2u1_rawwirenum","1V1","2U1")
macro UTIL/GEN/overlay2.C("hdc1v2_rawwirenum","hdc2u2_rawwirenum","1V2","2U2")


newpage 2 3
title HMS Drift Chamber Drift Distance
macro UTIL/GEN/overlay2.C("hdc1u1_ddist","hdc2v1_ddist","1U1","2V1")
macro UTIL/GEN/overlay2.C("hdc1u2_ddist","hdc2v2_ddist","1U2","2V2")
macro UTIL/GEN/overlay2.C("hdc1x1_ddist","hdc2x1_ddist","1X1","2X1")
macro UTIL/GEN/overlay2.C("hdc1x2_ddist","hdc2x2_ddist","1X2","2X2")
macro UTIL/GEN/overlay2.C("hdc1v1_ddist","hdc2u1_ddist","1V1","2U1")
macro UTIL/GEN/overlay2.C("hdc1v2_ddist","hdc2u2_ddist","1V2","2U2")

newpage 2 3
title HMS Drift Chamber Drift Time
macro UTIL/GEN/overlay2.C("hdc1u1_drifttime","hdc2v1_drifttime","1U1","2V1")
macro UTIL/GEN/overlay2.C("hdc1u2_drifttime","hdc2v1_drifttime","1U2","2V2")
macro UTIL/GEN/overlay2.C("hdc1x1_drifttime","hdc2x1_drifttime","1X1","2X1")
macro UTIL/GEN/overlay2.C("hdc1x2_drifttime","hdc2x2_drifttime","1X2","2X2")
macro UTIL/GEN/overlay2.C("hdc1v1_drifttime","hdc2u1_drifttime","1V1","2U1")
macro UTIL/GEN/overlay2.C("hdc1v2_drifttime","hdc2u2_drifttime","1V2","2U2")



# ===== COMMENT OUT HMS CHERENKOV MONITORING FOR NOW ==========
# IF WE DETERMINE IT IS NEEDEF FOR CAFE, THEN IT WILL BE INCLUDED
#newpage 2 2
#title HMS Cherenkov Occu/Mult/Ped
#hcer_good_occ -nostat
#hcer_good_mult -nostat
#hcer_good_pped_vs_pmt -nostat

#newpage 1 1
#title HMS Cherenkov Pedestal Monitoring
#macro 'UTIL/GEN/ped_tracking_improved.C("../ROOTfiles/hms50k/hms_coin_replay_production_golden.root","cer","h",1)' -nostat

#newpage 2 2 logz
#title HMS Cherenkov NPE
#hcer_npe -nostat
#hcer_x_vs_npe -nostat
#hcer_y_vs_npe -nostat
#hcer_npeSum -nostat
#==========================================

newpage 2 2 
title HMS Calorimeter Occupancy
macro 'UTIL/GEN/overlay2.C("hcal_hA_good_occ_pos","hcal_hA_good_occ_neg","hA+","hA-","hA Good Occupancy")'
macro 'UTIL/GEN/overlay2.C("hcal_hB_good_occ_pos","hcal_hB_good_occ_neg","hB+","hB-","hB Good Occupancy")'
hcal_hC_good_occ_pos -nostat
hcal_hD_good_occ_pos -nostat

newpage 2 2 
title HMS Calorimeter Multiplicity
macro 'UTIL/GEN/overlay2.C("hcal_hA_good_mult_pos","hcal_hA_good_mult_neg","hA+","hA-","hA Good Multiplicity")'
macro 'UTIL/GEN/overlay2.C("hcal_hB_good_mult_pos","hcal_hB_good_mult_neg","hB+","hB-","hB Good Multiplicity")'
hcal_hC_good_mult_pos -nostat
hcal_hD_good_mult_pos -nostat

newpage 2 3 logz
title HMS Calorimeter Pedestals
hcal_hA_good_pped_vs_pmt_pos -nostat
hcal_hA_good_pped_vs_pmt_neg -nostat
hcal_hB_good_pped_vs_pmt_pos -nostat
hcal_hB_good_pped_vs_pmt_neg -nostat
hcal_hC_good_pped_vs_pmt_pos -nostat
hcal_hD_good_pped_vs_pmt_pos -nostat

newpage 2 3 
title HMS Calorimeter Pedestal Monitoring
macro 'UTIL/GEN/ped_tracking_improved.C("../ROOTfiles/hms50k/hms_coin_replay_production_golden.root","cal_hA","h",1)' -nostat
macro 'UTIL/GEN/ped_tracking_improved.C("../ROOTfiles/hms50k/hms_coin_replay_production_golden.root","cal_hA","h",2)' -nostat
macro 'UTIL/GEN/ped_tracking_improved.C("../ROOTfiles/hms50k/hms_coin_replay_production_golden.root","cal_hB","h",1)' -nostat
macro 'UTIL/GEN/ped_tracking_improved.C("../ROOTfiles/hms50k/hms_coin_replay_production_golden.root","cal_hB","h",2)' -nostat
macro 'UTIL/GEN/ped_tracking_improved.C("../ROOTfiles/hms50k/hms_coin_replay_production_golden.root","cal_hC","h",1)' -nostat
macro 'UTIL/GEN/ped_tracking_improved.C("../ROOTfiles/hms50k/hms_coin_replay_production_golden.root","cal_hD","h",1)' -nostat

newpage 3 1 
title HMS Trigger Pedestal Tracking
# macro 'UTIL/GEN/ped_tracking_trigger.C("../ROOTfiles/hms50k/hms_coin_replay_production_golden.root","ASum","h")' -nostat
# macro 'UTIL/GEN/ped_tracking_trigger.C("../ROOTfiles/hms50k/hms_coin_replay_production_golden.root","BSum","h")' -nostat
# macro 'UTIL/GEN/ped_tracking_trigger.C("../ROOTfiles/hms50k/hms_coin_replay_production_golden.root","CSum","h")' -nostat
# macro 'UTIL/GEN/ped_tracking_trigger.C("../ROOTfiles/hms50k/hms_coin_replay_production_golden.root","DSum","h")' -nostat
macro 'UTIL/GEN/ped_tracking_trigger.C("../ROOTfiles/hms50k/hms_coin_replay_production_golden.root","cersum","h")' -nostat
macro 'UTIL/GEN/ped_tracking_trigger.C("../ROOTfiles/hms50k/hms_coin_replay_production_golden.root","preShwr","h")' -nostat
macro 'UTIL/GEN/ped_tracking_trigger.C("../ROOTfiles/hms50k/hms_coin_replay_production_golden.root","shwr","h")' -nostat


newpage 4 2 logz
title HMS Focal Plane
hdc_xfp_vs_yfp -nostat
hdc_xpfp_vs_ypfp -nostat
hdc_xfp_vs_xpfp -nostat
hdc_xfp_vs_beta -nostat
hdc_xfp_vs_ypfp -nostat
hdc_yfp_vs_xpfp -nostat
hdc_yfp_vs_ypfp -nostat
hdc_yfp_vs_beta -nostat

newpage 3 2 logz
title HMS Target Quantities
hgtr_delta -nostat
hgtr_reactz -nostat
hgtr_ytar -nostat
hgtr_ytar_vs_yptar -nostat
hgtr_xptar_vs_yptar -nostat
hgtr_xtar_vs_reactz -nostat
hextcor_xysieve -nostat


newpage 2 2 logz
title HMS PID
hhod_beta -nostat
hcal_etottracknorm -nostat
hhod_beta_vs_delta -nostat
hgtr_etottracknorm_vs_delta -nostat


newpage 4 2
title HMS Kinematics
hdc_trk_mom -nostat
hkin_theta  -nostat
hkin_MM     -nostat
hkin_em     -nostat
hkin_pm     -nostat
hkin_em_nuc -nostat
hkin_thpq   -nostat
hkin_thrq   -nostat



# ======== EXPERT LEVEL HISTOGRAMS (USED MAINLY FOR SETTING REF TIMES AND DET TIME WINDOW CUTS ===============


newpage 2 2 logy
title expert_HMS_RAW_TRIG_REF_Time
macro 'UTIL/GEN/overlay2.C("htrig_h1x_raw_tdc","htrig_h1y_raw_tdc","S1X","S1Y","HMS Raw Hodo (front pair) Trig Ref. Times")' -nostat
macro 'UTIL/GEN/overlay2.C("htrig_h2x_raw_tdc","htrig_h2y_raw_tdc","S2X","S2Y","HMS Raw Hodo (rear pair) Trig Ref. Times")' -nostat
macro 'UTIL/GEN/overlay2.C("htrig_hT1_raw_tdc","htrig_hT2_raw_tdc","hT1","hT2","HMS Raw Hodo Trig Ref. Times (use hT1 or hT2 to set hhodo_tdcrefcut)")' -nostat
htrig_hFADC_TREF_ROC1_raw_tdc -nostat

#newpage 4 2 logy
#title expert_HMS_RAW_TRIG_REF_Time
#htrig_h1x_raw_tdc -nostat
#htrig_h1y_raw_tdc -nostat
#htrig_h2x_raw_tdc -nostat
#htrig_h2y_raw_tdc -nostat
#htrig_hT1_raw_tdc -nostat
#htrig_hT2_raw_tdc -nostat
#htrig_hT3_raw_tdc -nostat
#htrig_hFADC_TREF_ROC1_raw_tdc -nostat


newpage 2 1 logy
title expert_HMS_RAW_DC_REF_Time
macro 'UTIL/GEN/overlay2.C("htrig_hdc_ref1_raw","htrig_hdc_ref2_raw","hdc_ref1","hdc_ref2","HMS DC Ref. Times (1st pair| use minimum ref time histo to set hdc_tdcrefcut) ")' -nostat
macro 'UTIL/GEN/overlay2.C("htrig_hdc_ref3_raw","htrig_hdc_ref4_raw","hdc_ref3","hdc_ref4","HMS DC Ref. Times ")' -nostat

#htrig_hdc_ref1 -nostat
#htrig_hdc_ref2 -nostat
#htrig_hdc_ref3 -nostat
#htrig_hdc_ref4 -nostat
#htrig_hdc_ref1_raw -nostat
#htrig_hdc_ref2_raw -nostat
#htrig_hdc_ref3_raw -nostat
#htrig_hdc_ref4_raw -nostat

newpage 3 2 logy
title expert_HMS_DC_RAW_TDC_Time
macro 'UTIL/GEN/overlay2.C("hdc1u1_rawtdc","hdc1u2_rawtdc","1U1","1U2","HMS DC Raw TDC Time (DC1: U Plane) | use to set hdc_tdc_min/max_win per plane")' -nostat
macro 'UTIL/GEN/overlay2.C("hdc1x1_rawtdc","hdc1x2_rawtdc","1X1","1X2","HMS DC Raw TDC Time (DC1: X Plane)")' -nostat
macro 'UTIL/GEN/overlay2.C("hdc1v1_rawtdc","hdc1v2_rawtdc","1V1","1V2","HMS DC Raw TDC Time (DC1: V Plane)")' -nostat

macro 'UTIL/GEN/overlay2.C("hdc2v2_rawtdc","hdc2v1_rawtdc","2V2","2V1","HMS DC Raw TDC Time (DC2: V Plane)")' -nostat
macro 'UTIL/GEN/overlay2.C("hdc2x2_rawtdc","hdc2x1_rawtdc","2X2","2X1","HMS DC Raw TDC Time (DC2: X Plane)")' -nostat
macro 'UTIL/GEN/overlay2.C("hdc2u2_rawtdc","hdc2u1_rawtdc","2U2","2U1","HMS DC Raw TDC Time (DC2: U Plane)")' -nostat

#hdc1u1_rawtdc  -nostat
#hdc1u2_rawtdc  -nostat
#hdc1x1_rawtdc  -nostat
#hdc1x2_rawtdc  -nostat
#hdc1v1_rawtdc  -nostat
#hdc1v2_rawtdc  -nostat
             
#hdc2v2_rawtdc  -nostat
#hdc2v1_rawtdc  -nostat
#hdc2x2_rawtdc  -nostat
#hdc2x1_rawtdc  -nostat
#hdc2u2_rawtdc  -nostat
#hdc2u1_rawtdc  -nostat



newpage 2 1
title expert_HMS_Fast_Raster
# hFRAraw_XvsY -nostat
# hFRBraw_XvsY -nostat
hFRApos_XvsY -nostat
hFRBpos_XvsY -nostat

#newpage 2 1
#title HMS EPICS BPM
#macro UTIL/BEAMLINE/plot_beam.C("X")
#macro UTIL/BEAMLINE/plot_beam.C("Y")

#newpage 4 2 logy
#title HMS Drift Chamber Reference Times
#htrig_h1x_good_tdc -nostat
#htrig_h1y_good_tdc -nostat
#htrig_h2x_good_tdc -nostat
#htrig_h2y_good_tdc -nostat
#htrig_hT1_good_tdc -nostat
#htrig_hT2_good_tdc -nostat
#htrig_hT3_good_tdc -nostat
#htrig_hFADC_TREF_ROC1_good_tdc -nostat

#===================================================================================

# newpage 1 1 linxy
# title ROC3 Sync Check
# hms_dcref_vs_hodoref -nostat -type box

# ----------- HERE ADD AdcTdcDiffTime for other detectors (hodo, cherenkov, calorimeter)
# so that we may choose some reasonable initial cut value on the detectors time windoes right away from the 50k replay
