# File extensions
*~
*#*#*
*.d
*.so
*.pcm
*.png
*.ps
*.eps
*.pdf
.nfs*
*.root
*.err
*.log

!runplan/*.pdf
!code_development/commissioning_data/pm80/*.root
!code_development/commissioning_data/pm580/*.root
!code_development/commissioning_data/pm750/*.root

!code_development/pm120_plots/*
!code_development/pm580_plots/*
!code_development/pm800_plots/*
!code_development/pm900_plots/*

# Directories
RAID
DEUT_OUTPUT
REPORT_OUTPUT
HISTOGRAMS
MON_OUTPUT
ROOTfiles
.root_history
raw
raw.copiedtotape
cache
scratch
.vscode

# Symbolic links
hcana
libHallC.so*
